[submodule "vendor/github.com/satori/go.uuid"]
	path = vendor/github.com/satori/go.uuid
	url = git@github.com:satori/go.uuid.git
[submodule "vendor/github.com/mitchellh/go-homedir"]
	path = vendor/github.com/mitchellh/go-homedir
	url = git@github.com:mitchellh/go-homedir
[submodule "vendor/github.com/codegangsta/cli"]
	path = vendor/github.com/codegangsta/cli
	url = git@github.com:codegangsta/cli
